@font-face {
	font-family: "otitr";
	src: url("../font/BTitrBd.ttf") format("truetype");
}

@font-face {
	font-family: "onazanin";
	src: url("../font/B Nazanin.ttf") format("truetype");
}

textarea {
	width: 670px;
	height: 150px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.icon {
	float: right;
	padding-left: 10px;
}

.center {
	float: right;
}

.myEmail {
	margin-right: -5px;
}

#personalToggle {
	float: right;
}

#aminToggle {
	text-align: left;
}

.leftInline {
	direction: ltr;
}

.leftBlock {
	direction: ltr;
	text-align: left;
}

[contenteditable="true"] {
	background-color: white;
}

.radius5 {
	border-radius: 5px;
}

.change-lang {
	float: left;
}